.hero-right h1 {
    font-size: 3.2rem;
    margin-bottom: 10px;
}

.hero-right h1 span {
    color: #0d6efd;
    transition: text-shadow 0.3s ease;
}

.hero-right h1 span:hover {
    text-shadow: 0 0 20px rgba(13,110,253,0.8);
}

.hero-right h2 {
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 25px;
}

/* TAGS */
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 30px;
}

.tags span {
    padding: 8px 16px;
    border-radius: 25px;
    border: 1px solid #0d6efd;
    font-size: 13px;
    color: #cfe7ff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tags span:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(13,110,253,0.5);
    background: rgba(13,110,253,0.15);
}
